html {
    font-family: sans-serif;
}

img {
    width: 100%;
    margin-top: 20px;
}



ul {
    width: 70%;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 100px;
}

li {
    font-size: 25px;
    margin-bottom: 16px;
    list-style-type: none;
    text-align: center;    
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #ff8215;
}
a:visited {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}